---
import { Icon } from 'astro-icon'
import logo from '/logo.png'
---

<header>
    <nav class="bg-gradient-to-r from-zinc-500/80 to-zinc-800/80 fixed w-full backdrop-blur-md">
        <div class="max-w-7xl pr-4 sm:pr-6">
            <div class="relative flex items-center justify-between">

                <a href="/" class="flex items-center gap-3 cursor-pointer">
                    <div class="bg-white py-4 pl-1 pr-3" style="clip-path: circle(99.7% at 0 51%);">
                        <img class="block h-8 w-auto" src={logo} alt="Muebles Angarita">
                    </div>
    
                    <h1 class="text-xl font-bold text-white decoration-inherit">Muebles Angarita</h1>
                </a>

                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex gap-2">
                    <a href="#" class="transition duration-300 ease-in text-white hover:bg-white hover:text-zinc-800 px-3 py-2 rounded-lg text-base font-bold">Inicio</a>
        
                    <a href="#" class="transition duration-300 ease-in text-white hover:bg-white hover:text-zinc-800 px-3 py-2 rounded-lg text-base font-bold">Servicios</a>
        
                    <a href="#" class="transition duration-300 ease-in text-white hover:bg-white hover:text-zinc-800 px-3 py-2 rounded-lg text-base font-bold">Nosotros</a>
        
                    <a href="#" class="transition duration-300 ease-in text-white hover:bg-white hover:text-zinc-800 px-3 py-2 rounded-lg text-base font-bold">Contacto</a>
                    </div>
                </div>

                <!-- btn-menu-movile -->
                <button type="button" id="btn-menu" class="md:hidden">
                    <Icon class="h-8 w-8 text-white" name="charm:menu-hamburger" />
                </button>

                <div class="hidden sm:flex gap-2">
                    <a href="#" class="transition duration-300 ease-in bg-white text-zinc-600 rounded-xl p-1 hover:bg-blue-400 hover:text-white hover:-translate-y-1">
                        <Icon class="h-6 w-6 " name="ion:social-facebook" />
                    </a>
                    <a href="#" class="transition duration-300 ease-in bg-white text-zinc-600 rounded-xl p-1 hover:bg-red-400 hover:text-white hover:-translate-y-1">
                        <Icon class="h-6 w-6" name="mdi:instagram" />
                    </a>
                </div>

                
                <div id="menu-movile" class="hidden absolute top-full right-0 z-10 mt-2 w-48 bg-white rounded-md py-1 shadow-lg ring-1 ring-black ring-opacity-5">
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <a href="#" class="block px-4 py-2 text-sm text-zinc-700">Inicio</a>
                    <a href="#" class="block px-4 py-2 text-sm text-zinc-700">Servicios</a>
                    <a href="#" class="block px-4 py-2 text-sm text-zinc-700">Nosotros</a>
                    <a href="#" class="block px-4 py-2 text-sm text-zinc-700">Contacto</a>
                    <a href="#" class="block px-4 py-2 text-sm text-zinc-700">Facebook</a>
                    <a href="#" class="block px-4 py-2 text-sm text-zinc-700">Instagram</a>
                </div>
            </div>
        </div>
    </nav>
</header>

<script>

    const btnMenu = document.getElementById('btn-menu');
    const menuMovile = document.getElementById('menu-movile');

    btnMenu.addEventListener('click', () => {
        menuMovile.classList.toggle('hidden')
    });

</script>