---
import { Icon } from 'astro-icon'
---

<div class="nav-movile fixed bottom-0 w-full px-2 pb-2">
    <div class="flex items-center justify-evenly bg-zinc-300/50 text-white rounded-full py-4 border border-zinc-400 backdrop-blur-md">
        <a href="#">
            <Icon class="h-6 w-6 text-zinc-700 hover:text-orange-500" name="ri:home-4-line" />
        </a>

        <a href="#">
            <Icon class="h-6 w-6 text-zinc-700 hover:text-orange-500" name="icon-park-outline:bedside-two" />
        </a>

        <a href="#">
            <Icon class="h-6 w-6 text-zinc-700 hover:text-orange-500" name="mdi:account-question-outline" />
        </a>

        <a href="#">
            <Icon class="h-6 w-6 text-zinc-700 hover:text-orange-500" name="ep:service" />
        </a>
    </div>
    
</div>